<h3>Listado de Héroes</h3>

<div *ngIf="deletedHero; else nothingWasDeleted"> <!--si la condicion no se cumple, se muestra el elemento que tenga esta direccion-->
    <h3>Heroe borrado <small class="text-danger"> {{deletedHero}} </small></h3>
</div>

<ng-template #nothingWasDeleted> <!--el ng-template es como un div que no existe. no es un elemento html-->
    <h3>No ha borrado ningun heroe</h3>
</ng-template>


<button
    *ngIf="heroNames.length > 0"
    class="btn btn-outline-danger" 
    (click)="removeLastHero()">
    Borrar ultimo heroe
</button>

<!-- <ul class="mt-2 list-group">
    <li class="list-group-item">Spiderman</li>
    <li class="list-group-item">Ironman</li>
    <li class="list-group-item">Hulk</li>
    <li class="list-group-item">Thor</li>
</ul> -->

<!--con la directiva *ngFor-->
<ul class="mt-2 list-group">
    <li *ngFor="let name of heroNames" 
        class="list-group-item">
        {{name}}
    </li>
</ul>