<h1>{{name}}</h1>

<dl>
    <dt>Nombre:</dt>
    <dd>{{name}}</dd> <!--one way data binding-->
    
    <dt>Edad:</dt>
    <dd>{{age}}</dd>
    
    <dt>Metodo:</dt>
    <dd>{{getheroDescription()}}</dd>
    
    <dt>Capitalizado:</dt>
    <dd>{{capitalizedName}}</dd>
</dl>


<button
 class="btn btn-primary mx-2" 
 *ngIf="name !== 'Spider man'"
 (click)="changeHero()">
 Cambiar nombre
</button>

<button 
class="btn btn-primary" 
*ngIf="age !== 25"
(click)="changeAge()">
Cambiar edad
</button>

<button 
class="btn btn-primary mx-2" 
(click)="resetForm()">
Reestablecer
</button>

<!--cualquier valor negativo(null, undefined, falsy, false) en el ngIf va a destruir la etiqueta en si, 
    en este caso el boton-->

